<h2><%= l(:label_member_plural) %></h2>
<div class='member autoscroll'>
  <% if @members.any? %>
    <table class='list'>
      <thead>
        <tr>
          <th><%= l(:field_firstname) %></th>
          <th><%= l(:label_role_plural) %></th>
          <th><%= l(:label_assigned_issues) %></th>
          <th><%= l(:label_reported_issues) %></th>
          <th><%= l(:field_last_login_on) %></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |m| %>
          <tr class='<%= cycle 'odd', 'even' %>'>
            <td><%= link_to_user m.principal %></td>
            <td><%= m.roles.sort.collect(&:to_s).join(',') %></td>
            <td><%= link_to @issues.open.where(:assigned_to_id => m.user_id).count, project_issues_path(@project, :set_filter => 1, :assigned_to_id => m.user_id) %></td>
            <td><%= link_to @issues.open.where(:author_id => m.user_id).count, project_issues_path(@project, :set_filter => 1, :author_id => m.user_id) %></td>
            <%
              u = User.find_by_id(m.user_id)
              if u != nil
            %>
              <td><%= format_time(u.last_login_on) %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>
